{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

{% include "wikgi/common_input.html" %}
	
	<style>
		#mainContent{	
			width:80%;
			float:left;
		}
		#relContent {
			float:left;
			width:20%;
		}
		
		.is-clear-both{
		left:80%;
			clear:both;
		}
	</style>
</head>
<body>
<div id="colWrap">
	<div id="relContent_temp">
		<a href="{% url 'wikgi:index' %}">index</a>
		{% for up_article_name in up_article_names %}
			<a href="{% url 'wikgi:article' up_article_name %}">{{ up_article_name }}</a>
		{% endfor %}
	</div>
	<div id="mainContent">
		<div>
		<form action="{% url 'wikgi:article' article_name %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="create" value="true">
			<input type="submit" value="create">
		</form>
		</div>
	</div>
	<div id="relContent">
		<a href="{% url 'wikgi:index' %}">index</a>
		{% for up_article_name in up_article_names %}
			<a href="{% url 'wikgi:article' up_article_name %}">{{ up_article_name }}</a>
		{% endfor %}
	</div>
	<div class="is-clear-both"></div>
</div>

{% include "wikgi/editor.html" %}
</body>
</html>
